PORT=3001
DATABASE_PATH=/root/.flowise
SECRETKEY_PATH=/root/.flowise
DEBUG=true
LOG_PATH=/root/.flowise/logs
BLOB_STORAGE_PATH=/root/.flowise/storage
JWT_AUTH_TOKEN_SECRET=GENERERATE-ONE # openssl rand -hex 32
JWT_REFRESH_TOKEN_SECRET=GENERATE-ONE-MORE # openssl rand -hex 32
JWT_ISSUER='ISSUER'
JWT_AUDIENCE='AUDIENCE'
JWT_TOKEN_EXPIRY_IN_MINUTES=360
JWT_REFRESH_TOKEN_EXPIRY_IN_MINUTES=43200


PASSWORD_RESET_TOKEN_EXPIRY_IN_MINS=30
PASSWORD_SALT_HASH_ROUNDS=10
TOKEN_HASH_SECRET=GENERATE-ONE-MORE # openssl rand -hex 32
